*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    max-width: 1920px;
    min-height: auto;
}
body{
    padding: 30px;
}
.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.p20{
    padding: 20px;
}
#navbar{
    justify-content:space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
button{
    border: none;
    background: none;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr 0.1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
    padding: 30px;
}
.g1{
    grid-row: 1/4;
    grid-column: 1/2;
    text-align: left;
}
.g2{
    grid-row: 1/2;
    grid-column: 2/5;
}
.g3{
    grid-row: 2/3;
    grid-column: 2/3;
}
.g4{
    grid-row: 3/4;
    grid-column: 2/5;
}
.g5{
    grid-row: 4/5;
    grid-column: 2/3;
}
.g6{
    grid-row: 5/6;
    grid-column: 2/3;
}
.g7{
    grid-row: 5/6;
    grid-column: 3/4;
}
.g8{
    grid-row: 5/7;
    grid-column: 4/5;
}
.g9{
    grid-row: 6/7;
    grid-column: 2/3;
}
.g10{
    grid-row: 6/7;
    grid-column: 3/4;
}
h2{
    font-size: 30px; 
}
#stories{
    justify-content: space-between;
    align-items:center;
    gap: 20px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 20px;

}
p{
    font-size: 18px;
    font-weight: 300;
}
footer{
    background: rgb(31, 43, 56);
    color:white;
    padding: 50px;
    gap: 20px;
}
.textefooter{
    justify-content: space-between;
    font-weight: bold;
}
.gridimg{
    width:100%;
    height:100%;
}
.textspace{
    justify-content: space-evenly;
}
.padleft{
    padding-left: 15%;
}
.textcenter{
    text-align: center;
}
