@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* { margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    width: 1440px;
    height: 1323px;  
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 70px;
}

.menuBurger {
    display: none;
    cursor: pointer;
}

.menuBurger .ligne {
    width: 35px;
    height: 3px;
    background: white;
    margin: 5px;
}

.logo {
    width: auto;
    height: 40px;
    margin-left: 7px;
}

.navbar ul {
    display: flex;
    list-style:none;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: black;
    size: 20px;
    line-height: 8;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar a:hover {
    color: #1E2A37;
    font-weight: bold;
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;
}

.searchbar-rond, .btn-creer {
    height: 50px;
    width: auto;
    cursor: pointer;
    
}

.creation {
    display:none;
}


.pour {
    margin-bottom:10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left:80px;
    line-height: 35.16px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

h2 .suivi {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}


.grid-de-story {
    display: flex;
    gap: 80px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
}


.contenu {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    gap: 10px;
    padding: 20px;
}

.actualites {
    display: grid;
    grid-template-areas:
        "photo1 photo2 photo3"
        "photo4 photo4 photo3";
    gap: 25px;
    margin: 30px;
    padding: 30px;
    margin-top: auto;
    object-fit: cover;
}

.photo1 {
    grid-area: photo1;
}

.photo2 {
    grid-area: photo2;
}

.photo3 {
    grid-area: photo3;
}

.photo4 {
    grid-area: photo4;
}

.photo img {
    border-radius: 10px;
    object-fit: cover; 
    display: block;
}

.suggestions {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: flex-start; 
    padding-right: 10px;
}

.titre {
    margin-left: 7px;
    margin-bottom: 20px;
    margin-top: -20px
}

.suggestion img {
    width: 100%; 
    max-width: 250px; 
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    text-align:center;
    padding-top: 40px;
    background-color:#1E2A37;
    color: white;
    height: 91px;
    width:100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal
}

.espace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.espace-deux {
    display: none;
}


@media (max-width: 793px) {

body {
    width: auto;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

header {
    flex-direction: column;
    align-items:flex-start;
    padding: 30px;
    background-color: #1E2A37;
}

.menuBurger {
    display: block;
    position: absolute;
    right: 10px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left:30px; 
}

header .search {
    display:none;
}
.creation {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}


.logo img {
    content: url("images/logo-icone/Insta\ Blanc.png");
}

.searchbar-rond{
    content: url("images/searchbar\ deuxième\ ver.png");
    width: 60%;
    height: auto;
    object-fit: contain;
}

.btn-creer{
    content: url("images/btn\ deuxième\ ver.png");
    width: 30%;
    height: auto;
    object-fit: contain;
}

.navbar a {
    display: none;
}

.lunette {
    width: 150px;
}

.cheveux {
    width: 150px;
}

.marron {
    width:150px;
}

.barbe {
    display: none;
}

.coeur {
    display: none;
}

.bleu {
    display: none;
}

.rouge {
    display: none;
}

.pour {
    margin-left: 40px;
}

.section .story {
    object-fit: contain;

}

.grid-de-story {
    display: flex;
    gap: 60px;
    margin-left: 40px;
}


.actu {
    margin-left: 40px;
}

.contenu {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
}

.actualites {
    grid-template-areas: 
        "photo1"
        "photo2"
        "photo3"
        "photo4"; 
}

.photo img {
    width: 100%; 
    object-fit:contain;
}

.suggestions {
    display: none;
}

footer {
    font-size:10px 1em 22px;
    padding: 35px;
}

.espace {
    display: none;
}

.espace-deux {
    display:block;
}
}